# fastbase: generated
"""Настройки приложения."""

from fastbase import BaseAppSettings


class Settings(BaseAppSettings):
    """Добавляйте свои поля здесь."""

    # database_url: str = ""
    # jwt_secret: str = ""


settings = Settings()