# fastbase: generated
"""Доменные исключения приложения.

Наследуйтесь от базовых исключений fastbase.
Числовые коды задаются в FAT_ERROR_CODES.
"""

from fastbase import NotFoundError  # noqa: F401


# Пример:
# class UserNotFoundError(NotFoundError):
#     message = "User not found"